$white: #ffffff;
$grey-light: #F6F6F6;
$grey-dark: #E6E6E6;
$blue: #00BEDB;
$orange: #FF8400;
$red: #EF463B;
$dark: #323E48;


@mixin _480 {
  @media (min-width: 480px){
      @content;
  }
}

@mixin _576 {
  @media (min-width: 576px){
      @content;
  }
}

@mixin _768 {
  @media (min-width: 768px){
      @content;
  }
}

@mixin _992 {
  @media (min-width: 992px){
      @content;
  }
}

@mixin _1200 {
  @media (min-width: 1200px){
      @content;
  }
}